{% extends 'base.html' %}
{% load bootstrap3 %}
{% block css %}
<style>
body{
    background:#eee;

}
</style>

{% endblock %}
{% block main %}

<div class="login_form container">
    <br/><br/>
    <h2>Log In</h2>

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-large btn-success" value="Log In">
    </form>
</div>
<style>
    .footer{
        margin-top:2rem;
        position:absolute;
        bottom:0;
    }
</style>
{% endblock %}